<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="OverAllKnnGraphBin" value="conv5-local.bin" />
        <add key="FilteredPatchesBin" value="G:\siret\zoot\protobuf\local-conv5-cleaned-shrinked-patchClusters-with-labels.bin" />
        <add key="Storage" value="C:\sir-files\" />
    </appSettings>
</configuration>