<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings configSource="ConnectionStrings.config"/>
    <appSettings>
        <add key="OverAllKnnGraphBin" value="G:\siret\zoot\protobuf\conv5-local-essential-knn.bin" />
        <add key="FilteredPatchesBin" value="G:\siret\zoot\protobuf\local-conv5-cleaned-shrinked-patchClusters-with-labels.bin" />
        <add key="Storage" value="C:\sir-files\" />
    </appSettings>
</configuration>